#btn_add .material-icons{
    font-size: 40px;
    color: white;
}

#btn_add .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #77A8CC;
}

/*#btn_add .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    
}*/

#btn_add .btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 11px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

#btn_add :hover
{    --bs-btn-hover-bg: #83C5BE !important;
    opacity: 0.5;
}

#button
{
    width: 20%;
    box-shadow: 5px 5px 15px 5px #77A8CC;
    border-radius: 5px;
    
}

#btn_lien .btn{
    font-size: large;
    color:  #c79d6f;
  }