
#categarieCard .scale:hover
{    
    transform: scale(1.05);
}


@media screen and (min-width: 576px){
    #categarieCard .custom-width-card {
        width: 16rem;
    }
}

@media screen and (min-width: 768px){
    #categarieCard .custom-width-card {
        width: 20rem;
    }
}

@media screen and (min-width: 992px){
    #categarieCard .custom-width-card {
        width: 14rem;
    }

}

@media screen and (min-width: 1200px){
    #categarieCard .custom-width-card {
        width: 17rem;
    }
}

@media screen and (min-width: 1400px){
    #categarieCard .custom-width-card {
        width: 19rem;
    }
}

@media screen and (min-width: 1600px){
    #categarieCard .custom-width-card {
        width: 20rem;
    }
}